
    <div class="row">
  
      <div class="card" [routerLink]="['./Semseter']" [queryParams]="{D: 'BSCS'}">
           <div class="card-body" style="background: #002db3">
             <h3>BSCS</h3>
           </div>
        </div>
  
        <div class="card" [routerLink]="['./Semseter']" [queryParams]="{D: 'BSSE'}">
             <div class="card-body" style="background: #008000">
               <h3>BSSE</h3>
             </div>
             </div>
  
  
           <div class="card" [routerLink]="['./Semseter']" [queryParams]="{D: 'MCS'}">
               <div class="card-body"style="background: #ffa502">
                 <h3>MCS</h3>
               </div>
            </div>
     
            
            <div class="card" [routerLink]="['./Semseter']" [queryParams]="{D: 'MS'}">
               <div class="card-body"style="background: #4d2600;">
                 <h3>MS</h3>
               </div>
            </div>

            </div>
