

  <div class="row">

        <div class="card" [routerLink] = "['./Courses']">
         <div class="card-body" style="background: #339933;">
          <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 3em"></i>
           <p>Total student</p>
         </div>
      </div>

      <div class="card"  [routerLink] = "['./TeacherList']">
           <div class="card-body" style="background: #1B1464">
            <i class="fa fa-user" aria-hidden="true"  style="font-size: 3em"></i>
             <p>Total Teacher</p>
           </div>
           </div>


        <div class="card" [routerLink] = "['./Subject']">
             <div class="card-body"style="background: #ffa502;">
              <i class="fa fa-file" aria-hidden="true"  style="font-size: 3em"></i>
               <p>Total Subject</p>
             </div>
          </div>

            <div class="card"  [routerLink] = "['./Tcourse']">
                 <div class="card-body" style="background:#960f21">
                  <i class="fa fa-calendar" aria-hidden="true"  style="font-size: 3em"></i>
                   <p>Timetable</p>
                 </div>
              </div>

          <div class="card" [routerLink] = "['./Lab']">
               <div class="card-body" style="background: #4d2600;">
                <i class="fa fa-flask" aria-hidden="true"  style="font-size: 3em"></i>
                 <p>Labs Detials</p>
               </div>

            </div>
            <div class="card" [routerLink] = "['./Room']">
                 <div class="card-body" style="background: #002db3">
                  <i class="fa fa-home" aria-hidden="true" style="font-size: 3em"></i>
                   <p>Room Timetable </p>
                 </div>
              </div>

           <!----   <div class="card" [routerLink] = "['./FaculyOfficeTime']">
                   <div class="card-body" style="background:#800080">
                    <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 3em"> </i>
                     <p>Faculty Office Time </p>
                   </div>
                   </div>-->


                <div class="card"  [routerLink] = "['./UCalender']">
                     <div class="card-body" style="background:  #4d4d00;">
                      <i class="fa fa-calendar" aria-hidden="true" style="font-size: 3em"></i>
                       <p>U-Calender</p>


    </div>
</div>
</div>





