

<div class="row">
    <div class="card"  [routerLink] = "['./Ftimetable']">
        <div class="card-body" style="background:#960f21">
         <i class="fa fa-calendar" aria-hidden="true"  style="font-size: 3em"></i>
          <p>Check Timetable</p>
        </div>
     </div>

 <div class="card" [routerLink] = "['./Flab']">
      <div class="card-body" style="background: #4d2600;">
       <i class="fa fa-flask" aria-hidden="true"  style="font-size: 3em"></i>
        <p> Check Labs </p>
      </div>

   </div>
   <div class="card" [routerLink] = "['./Room']">
        <div class="card-body" style="background: #002db3">
         <i class="fa fa-home" aria-hidden="true" style="font-size: 3em"></i>
          <p>Check Room TimeTable</p>
        </div>
     </div>


       <div class="card"  [routerLink] = "['./UCalender']">
            <div class="card-body" style="background:  #4d4d00;">
             <i class="fa fa-calendar" aria-hidden="true" style="font-size: 3em"></i>
              <p> Check U-Calender</p>


</div>
</div>
</div>
